$color-light: #beb7b1;
$color-dark: #1b1f1e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../public/img/bg.png') no-repeat center fixed;
    background-size: cover;
    font-family: 'Courier Prime', monospace;
}

a {
    color: inherit;
    transition: color .35s;
}

.card {
    position: relative;

    &-content {
        position: relative;
        padding: 1rem 1.25rem;
        background: transparentize($color-light, .4);
        border-radius: 8px;
        backdrop-filter: blur(25px) grayscale(75%);
        box-shadow: 0 0 .5rem transparentize($color-dark, .7);
        font-size: 18px;
        color: $color-dark;
        z-index: 1;
    }

    &-headline {
        padding: .25rem 0;
        font-size: 26px;
    }

    &-table {
        & td {
            vertical-align: top;
            padding: .25rem 0;
            line-height: 1.5;

            &:last-child {
                color: lighten($color-dark, 10%);

                & a:hover {
                    color: $color-dark;
                }
            }
        }

        & tr:last-child td {
            padding-bottom: 0;
        }

        &--divider {
            padding: .5rem 0;

            & hr {
                width: 100%;
                height: 0;
                border: none;
                border-top: 2px dashed transparentize($color-dark, .8);
            }
        }
    }
}